/Frontend/node_modules
API/HRMS/HRMS.Application/obj/HRMS.Application.csproj.nuget.dgspec.json
API/HRMS/HRMS.Application/obj/HRMS.Application.csproj.nuget.dgspec.json
API/HRMS/HRMS.Application/obj/HRMS.Application.csproj.nuget.g.props
API/HRMS/HRMS.Application/obj/project.assets.json
API/HRMS/HRMS.Application/obj/project.nuget.cache
API/HRMS/HRMS.Application/obj/Debug/net9.0/HRMS.Application.AssemblyInfo.cs
API/HRMS/HRMS.Application/obj/Debug/net9.0/HRMS.Application.AssemblyInfoInputs.cache
API/HRMS/HRMS.Application/obj/Debug/net9.0/HRMS.Application.assets.cache
API/HRMS/HRMS.Application/obj/Debug/net9.0/HRMS.Application.csproj.AssemblyReference.cache
API/HRMS/HRMS.Application/obj/Debug/net9.0/HRMS.Application.GeneratedMSBuildEditorConfig.editorconfig
API/HRMS/HRMS.Domain/obj/HRMS.Domain.csproj.nuget.dgspec.json
API/HRMS/HRMS.Domain/obj/HRMS.Domain.csproj.nuget.g.props
API/HRMS/HRMS.Domain/obj/project.assets.json
API/HRMS/HRMS.Domain/obj/project.nuget.cache
API/HRMS/HRMS.Domain/obj/Debug/net9.0/HRMS.Domain.AssemblyInfo.cs
API/HRMS/HRMS.Domain/obj/Debug/net9.0/HRMS.Domain.AssemblyInfoInputs.cache
API/HRMS/HRMS.Domain/obj/Debug/net9.0/HRMS.Domain.assets.cache
API/HRMS/HRMS.Domain/obj/Debug/net9.0/HRMS.Domain.csproj.AssemblyReference.cache
API/HRMS/HRMS.Domain/obj/Debug/net9.0/HRMS.Domain.GeneratedMSBuildEditorConfig.editorconfig
API/HRMS/HRMS.Infrastructure/obj/HRMS.Infrastructure.csproj.nuget.dgspec.json
API/HRMS/HRMS.Infrastructure/obj/HRMS.Infrastructure.csproj.nuget.g.props
API/HRMS/HRMS.Infrastructure/obj/project.assets.json
API/HRMS/HRMS.Infrastructure/obj/project.nuget.cache
API/HRMS/HRMS.Infrastructure/obj/Debug/net9.0/HRMS.Infrastructure.AssemblyInfo.cs
API/HRMS/HRMS.Infrastructure/obj/Debug/net9.0/HRMS.Infrastructure.AssemblyInfoInputs.cache
API/HRMS/HRMS.Infrastructure/obj/Debug/net9.0/HRMS.Infrastructure.assets.cache
API/HRMS/HRMS.Infrastructure/obj/Debug/net9.0/HRMS.Infrastructure.csproj.AssemblyReference.cache
API/HRMS/HRMS.Infrastructure/obj/Debug/net9.0/HRMS.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
API/HRMS/HRMS.Migrations.MSSQL/obj/HRMS.Migrations.MSSQL.csproj.nuget.dgspec.json
API/HRMS/HRMS.Migrations.MSSQL/obj/HRMS.Migrations.MSSQL.csproj.nuget.g.props
API/HRMS/HRMS.Migrations.MSSQL/obj/project.assets.json
API/HRMS/HRMS.Migrations.MSSQL/obj/project.nuget.cache
API/HRMS/HRMS.Migrations.MSSQL/obj/Debug/net9.0/HRMS.Migrations.MSSQL.AssemblyInfo.cs
API/HRMS/HRMS.Migrations.MSSQL/obj/Debug/net9.0/HRMS.Migrations.MSSQL.AssemblyInfoInputs.cache
API/HRMS/HRMS.Migrations.MSSQL/obj/Debug/net9.0/HRMS.Migrations.MSSQL.assets.cache
API/HRMS/HRMS.Migrations.MSSQL/obj/Debug/net9.0/HRMS.Migrations.MSSQL.csproj.AssemblyReference.cache
API/HRMS/HRMS.Migrations.MSSQL/obj/Debug/net9.0/HRMS.Migrations.MSSQL.GeneratedMSBuildEditorConfig.editorconfig
API/HRMS/HRMS.Presentation/obj/HRMS.Presentation.csproj.nuget.dgspec.json
API/HRMS/HRMS.Presentation/obj/HRMS.Presentation.csproj.nuget.g.props
API/HRMS/HRMS.Presentation/obj/project.assets.json
API/HRMS/HRMS.Presentation/obj/project.nuget.cache
API/HRMS/HRMS.Presentation/obj/Debug/net9.0/HRMS.Presentation.AssemblyInfo.cs
API/HRMS/HRMS.Presentation/obj/Debug/net9.0/HRMS.Presentation.AssemblyInfoInputs.cache
API/HRMS/HRMS.Presentation/obj/Debug/net9.0/HRMS.Presentation.assets.cache
API/HRMS/HRMS.Presentation/obj/Debug/net9.0/HRMS.Presentation.csproj.AssemblyReference.cache
API/HRMS/HRMS.Presentation/obj/Debug/net9.0/HRMS.Presentation.GeneratedMSBuildEditorConfig.editorconfig
